@media (max-width:1140px){
    .center, .header__center{
        padding-left: calc(50% - 500px);
        padding-right: calc(50% - 500px);
    }
    
    .header{
        h1{
            font-size: 64px;
        }
        &__link{
            width: 120px;
        }
    }
    .promo{
        &__text{
            width: 450px;
        }
        &__heading_mod{
            font-size: 40px;
        }
         
        &__info{
            justify-content: space-around;
        }
    }
    .rent{
        .car__box{
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 100px;

        }
        .car__items:not(:last-child){
            margin-right: 0;
        }
    }
    .reviews{
        &__descriptions{
            width: 400px;
        }
    }
    .info{
        &__heading{
            font-size: 32px;
        }
        &__text{
            font-size: 64px;
        }
    }
    .about{
        &__info{
            width: 30%;
        }
    }
}


@media (max-width:992px){
    .center,  .header__center{
        padding-left: calc(50% - 380px);
        padding-right: calc(50% - 380px);
    }
    .header {
        h1 {
            font-size: 60px;
        }
        &__nav{
            display: none;
        }
        &__nav_mobile{
            display: block;
        }
        
        .summary:active, :hover, :focus {
            outline: none;
        }
        /* убирает маркер у details */
        details summary::marker {
            display: none; 
            content: "";
        }
        .fa-bars{
            color: white;
            font-size: 50px;
        }
        .mobile__menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            list-style: none;
            font-size: 16px;
            position: absolute;
            z-index: 1;
            background: rgba(0,0,0,0.8);
            right: 0px;
            width: 100vw;
            min-height: 650px;  
        } 
        &__link{
            width: 250px;
            margin-top: 50px;
            display: inline-block;
            font-size: 25px;
        } 
        &__link:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .mobile__list{
            text-align: center;
        }      
    
    }   
    .promo{
        &__img{
            width: 100%;
            margin: -450px auto 0;
        }
        &__info{
            flex-direction: column;
            align-items: center;
        }
        &__left, &__right{
            width: 80%;
        } 
        &__left{
            text-align: center;
            margin-bottom: 100px;
        }
        &__text{
            width: 100%;
        } 
        &__form{
            width: 100%;
            
        }
        .form__left, .form__right{
            width: 45%;
        }
        .form__input{
            width: 100%;
        }
    } 
    .rent{
        .car__box{
            gap: 150px;
        }
    }
    .ride{
        &__box{
            flex-wrap: wrap;
            justify-content: center;
            .ride__items{
                width: 80%;
            }
            .ride__descriptions{
                width: 100%;
            }
        }
    }
    .mobile{
        &__content{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info{
            padding-bottom: 0;
            text-align: center;
            margin-bottom: 50px;
        }
    }
    .reviews{
        &__content{
            flex-direction: column;
            align-items: center;
        }
        &__items{
            margin-bottom: 50px;
        }
        &__items:not(:last-child) {
            margin-right: 0;
        }
    }
    .info{
        &__heading{
            font-size: 30px;
        }      
    }
    .about{
        &__content{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__info{
            width: 50%;
            text-align: center;
            &:not(:first-child){
                margin-top: 80px;
            }
        }
        &__heading{
            font-size: 30px;
        }
        &__text{
            width: 100%;
            font-size: 20px;
        }
        .box{
            justify-content: center;
        }  
        &__menu{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }  
        &__list, &__link{
            font-size: 20px;
        }
    }    
}


@media (max-width:700px){
    .center, .header__center{
        padding-left: calc(50% - 200px);
        padding-right: calc(50% - 200px);
    }
    .header{
        min-height: 500px;
        .heading__text{
           font-size: 14px;
        }
        h1{
            font-size: 45px;
        }
        .fa-bars {
            font-size: 40px;
        }
        &__text{
            letter-spacing: 0.2em;
        }   
        &__link{
            font-size: 20px;
        }  
    }
    .promo{
        &__img{
            margin: -300px auto 0
        }
        &__heading_mod{
            font-size: 28px;
        }
        &__left{
            margin-bottom: 80px;
        }
        &__right{
            width: 350px;
        }
        &__form{
            .promo__form__heading{
                font-size: 26px;
                padding: 13px 20px;
            } 
            .button__form {
                width: 320px;
            }
        }
    }
    .rent{
        &__heading{
            font-size: 38px;
        }
        .car__box{
            .car__items{
                width: 85%;
            }
        }
    }
    .ride{
        &__heading_mod{
            font-size: 36px;
        }
        .descriptions__heading{
            font-size: 20px;
         }
        .descriptions__text{
            font-size: 16px;
        } 
        &__img{
            margin-top: 30px;
        }
    }
    .mobile{
        &__heading{
            font-size: 32px;
        }
        &__heading_mod{
            font-size: 36px;
        }
        .heading__download{
            font-size: 22px;
        }
        .text__download{
            font-size: 18px;
           
        }
        &__content{
            width: 350px;
            margin: 0 auto;
        }
        &__info_right{
            width: 350px;
        }
        &__img{
            width: 100%;
        }
        .mobile__link:not(:last-child){
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    .reviews{
        padding-top: 65px;
        padding-bottom: 50px;
        &__heading{
            font-size: 32px;
        }
        &__heading_mod{
            font-size: 40px;
        }
        &__content{
            padding-top: 65px;
        }
        &__items{
            min-height: 200px;
            width: 350px;
            margin-right: 0;
        }
        &__descriptions{
            width: 320px;   
        }
        &__block{
            width: 70px;
            height: 70px;
        }
        .heading__descriptions, .heading__descriptions_mod{
            font-size: 18px;
        }
    }
    .info{
        &__heading{
            font-size: 24px;
        }
        &__text{
            font-size: 44px;
        }
    }
    .about{
        &__heading{
            font-size: 24px;
        }
    }
}


@media (max-width:399px){
    .center, .header__center{
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }
    .header{
        h1 {
            font-size: 36px;
        }
        .heading__logo{
            font-size: 36px;
        }
        .fa-bars {
            font-size: 35px;
        }
    }
    .promo{
        &__heading{
            font-size: 32px;
        }
        &__heading_mod{
            font-size: 22px;
        }
        &__text{
            font-size: 16px;
        }
        &__right{
            width: 300px;
        }
        .button__form{
            width: 280px;
        }
    }
    .rent{
        &__heading{
            font-size: 32px;
        }
        &__heading_color{
            font-size: 34px;
        }
        .car__img{
            width: 280px;
        }
    }
    .ride{
        &__heading{
            font-size: 30px;
        }
        &__heading_mod{
            font-size: 32px;
        }
        .descriptions__heading{
            font-size: 16px;
        }
        .descriptions__text {
            font-size: 14px;
        }
    }
    .mobile{
        &__heading_mod{
           font-size: 34px;
        }
        .heading__download{
           font-size: 20px;
        }
        &__content{
            width: 300px;
        }
        &__img{
           width: 280px;
        }
    }
    .reviews{
        &__heading_mod{
            font-size: 38px;
        }
        &__items{
            width: 300px;
        }
        &__descriptions{
            width: 280px;
        }
        &__text{
            font-size: 16px;
        }
        &__img{
            width: 60px;
            height: 60px;
        }
        .heading__descriptions, .heading__descriptions_mod{
            font-size: 16px;
        }
        
    }
    .info{
        &__heading{
            font-size: 22px;
        }
        &__text{
            font-size: 40px;
        }
    }
    .about{
        &__heading{
            font-size: 18px;
        }
        &__text{
            font-size: 14px;
        }
        &__list{
            font-size: 14px;
        }
    }
}