@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body {
  font-family: Lato;
}

.center {
  padding-left: calc(50% - 592px);
  padding-right: calc(50% - 592px);
}

.header__center {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
}

.header {
  min-height: 739px;
  background-image: url(img/bg_promo.jpg);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 37px;
}

.header__info {
  padding-top: 71px;
}

.header__logo-link {
  text-decoration: none;
}

.header__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  width: 150px;
  display: inline-block;
  padding: 10px 4px;
  text-align: center;
  text-decoration: none;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.header__link:hover {
  background-color: #ffc61a;
  border-radius: 20px;
  color: #000;
}

.header__nav_mobile {
  display: none;
}

.header__logo {
  width: 168px;
}

.header .heading__logo {
  font-size: 40.4px;
  line-height: 1.2;
  font-weight: 900;
  color: #ffffff;
}

.header .heading__logo_color {
  color: #daa505;
}

.header .heading__text {
  font-size: 15.1px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.header h1 {
  font-family: Lato;
  font-size: 72.3px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.header__text {
  padding-top: 30px;
  font-family: YuGothic;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.72em;
  color: #ffffff;
  text-align: center;
}

.promo {
  padding-top: 151px;
  padding-bottom: 80px;
  min-height: 780px;
  background-color: #ffc61a;
}

.promo__img {
  width: 826px;
  margin: -521px auto 0;
}

.promo__photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.promo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__heading {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 26px;
}

.promo__heading_mod {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #101010;
  padding-bottom: 44px;
}

.promo__text {
  width: 600px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #101010;
  padding-bottom: 60px;
}

.promo__btn {
  display: inline-block;
  background-color: #000000;
  border-radius: 10px;
  padding: 8px 35px;
}

.promo__link {
  text-align: center;
  text-decoration: none;
  font-size: 29.6px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
}

.promo__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 422px;
}

.promo__form__heading {
  font-size: 34.5px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  background: #000;
  padding: 13px 37px;
  margin-bottom: 48px;
}

.promo .heading__color {
  color: #ffc61a;
}

.promo__form {
  width: 422px;
  background-color: #ffffff;
}

.promo .form__content_top {
  padding: 0 22px 0 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo .form__content_bottom {
  padding: 0 22px 0 34px;
}

.promo .form__text {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
}

.promo .form__input {
  padding: 0 10px;
  font-size: 16px;
  width: 171px;
  outline: none;
  border: none;
  border-bottom: 3px solid gray;
  background-color: #e4e4e4;
  margin-bottom: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
}

.promo .form__input_mod {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #e4e4e4;
  margin-bottom: 32px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid gray;
}

.promo .btn__form {
  margin-bottom: 18px;
}

.promo .button__form {
  width: 376px;
  padding: 6px;
  background-color: #131313;
  margin: 0 auto;
  display: block;
  font-size: 29.6px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 15px;
  outline: none;
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
}

.rent {
  padding-top: 63px;
  padding-bottom: 77px;
  min-height: 742px;
  background-color: #ffffff;
}

.rent__heading {
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.rent__heading_color {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
}

.rent .car__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 133px;
}

.rent .car__items {
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 373px;
  min-height: 424px;
  background-color: #f5f4f2;
}

.rent .items_mod {
  background-color: #ffc61a;
}

.rent .car__items:not(:last-child) {
  margin-right: 36px;
}

.rent .car__img {
  width: 373px;
  height: 188px;
  margin-top: -84px;
}

.rent .photo__car {
  width: 100%;
  height: 100%;
}

.rent .car__descriptions {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin-top: 30px;
}

.rent .taxi__class {
  font-size: 30.5px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
}

.rent .taxi__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #101010;
  padding-top: 32px;
}

.rent .car__price {
  margin-top: 36px;
}

.rent .taxi__price {
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
}

.rent .taxi__price_mod {
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #131313;
  padding-top: 36px;
}

.rent .car__btn {
  margin: 35px 0 25px;
}

.rent .car__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 29.6px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffc61a;
  border-radius: 10px;
  padding: 6px 32px;
  font-family: 'Bebas Neue', cursive;
}

.rent .link_mod {
  background-color: #1b1b1b;
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
}

.ride {
  padding-top: 80px;
  padding-bottom: 76px;
  min-height: 776px;
  background-image: url(img/ride_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ride__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ride__heading {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
  text-align: center;
}

.ride__heading_mod {
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-bottom: 104px;
}

.ride__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ride__img {
  width: 81px;
  height: 81px;
  margin-right: 36px;
  position: relative;
}

.ride__img .eclipse {
  width: 100%;
  height: 100%;
}

.ride__img .ride__icon {
  width: 28px;
  height: 28px;
}

.ride__icon {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.ride__descriptions {
  width: 350px;
}

.ride .descriptions__heading {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
  padding-bottom: 24px;
}

.ride .descriptions__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 84px;
}

.ride .ride__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ride .ride__link {
  text-decoration: none;
  font-size: 29.6px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  padding: 8px;
  background-color: #ffc61a;
  border-radius: 10px;
  font-family: 'Bebas Neue', cursive;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.mobile {
  padding-top: 64px;
  min-height: 665px;
  background-color: #ffffff;
}

.mobile__heading {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
  text-align: center;
}

.mobile__heading_mod {
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.mobile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile__info {
  width: 45%;
  padding-bottom: 161px;
  width: 500px;
  margin-top: 82px;
}

.mobile__info_right {
  width: 45%;
  margin-top: 41px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mobile .heading__download {
  font-size: 25.5px;
  line-height: 1.2;
  font-weight: 900;
  color: #000000;
  padding-bottom: 28px;
}

.mobile .text__download {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #101010;
  padding-bottom: 64px;
}

.mobile__img {
  width: 386px;
  height: 466px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.mobile .photo__right {
  width: 100%;
  height: 100%;
}

.mobile__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mobile__link:not(:last-child) {
  margin-right: 20px;
}

.reviews {
  padding-top: 111px;
  padding-bottom: 65px;
  min-height: 611px;
  background-image: url(img/bg_rewiews.jpg);
}

.reviews__heading {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
  text-align: center;
}

.reviews__heading_mod {
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 105px;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 580px;
  min-height: 240px;
  background-color: #000;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reviews__items:not(:last-child) {
  margin-right: 32px;
}

.reviews__descriptions {
  width: 460px;
}

.reviews__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__block {
  width: 74px;
  height: 74px;
  margin-right: 24px;
}

.reviews__photo {
  width: 100%;
  height: 100%;
}

.reviews__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 24px;
}

.reviews .heading__descriptions {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
}

.reviews .heading__descriptions_mod {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.info {
  padding-top: 72px;
  padding-bottom: 92px;
  height: 286px;
  background-color: #ffc61a;
}

.info__heading {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.info__text {
  font-size: 76.7px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 32px;
}

.about {
  padding-top: 76px;
  padding-bottom: 76px;
  min-height: 452px;
  background-color: #0d0c0c;
  background-image: url(img/aboutbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /* &__border_mod{
        width: 339px;
        height: 8px;
        background-color: #ffc61a;
        margin-top: 38px;
    }  */
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__info {
  width: 340px;
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__info .text__info {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffc61a;
  padding-top: 12px;
}

.about__top {
  min-height: 60px;
}

.about__heading {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.about__border {
  width: 100%;
  height: 8px;
  background-color: #ffc61a;
}

.about__descriptions {
  margin-top: 18px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about__text {
  width: 306px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-top: 46px;
  padding-bottom: 40px;
}

.about .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .box .fab {
  display: block;
  color: #ffffff;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 32px;
  padding-top: 10px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-top: 24px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-top: 29px;
}

.about__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.about__social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__social__icons .social__img {
  color: #ffc61a;
  font-size: 20px;
  text-align: center;
}

.about .fa-mouse-pointer_link {
  display: inline-block;
  margin-left: 10px;
}

.about__icons {
  margin-right: 26px;
}

.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 52px;
  opacity: 0.67;
  background-color: #000000;
  margin-top: -52px;
}

.footer .copyright {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0 auto;
}

@media (max-width: 1140px) {
  .center, .header__center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
  }
  .header h1 {
    font-size: 64px;
  }
  .header__link {
    width: 120px;
  }
  .promo__text {
    width: 450px;
  }
  .promo__heading_mod {
    font-size: 40px;
  }
  .promo__info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .rent .car__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 100px;
  }
  .rent .car__items:not(:last-child) {
    margin-right: 0;
  }
  .reviews__descriptions {
    width: 400px;
  }
  .info__heading {
    font-size: 32px;
  }
  .info__text {
    font-size: 64px;
  }
  .about__info {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .center, .header__center {
    padding-left: calc(50% - 380px);
    padding-right: calc(50% - 380px);
  }
  .header {
    /* убирает маркер у details */
  }
  .header h1 {
    font-size: 60px;
  }
  .header__nav {
    display: none;
  }
  .header__nav_mobile {
    display: block;
  }
  .header .summary:active, .header :hover, .header :focus {
    outline: none;
  }
  .header details summary::marker {
    display: none;
    content: "";
  }
  .header .fa-bars {
    color: white;
    font-size: 50px;
  }
  .header .mobile__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    list-style: none;
    font-size: 16px;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    right: 0px;
    width: 100vw;
    min-height: 650px;
  }
  .header__link {
    width: 250px;
    margin-top: 50px;
    display: inline-block;
    font-size: 25px;
  }
  .header__link:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .header .mobile__list {
    text-align: center;
  }
  .promo__img {
    width: 100%;
    margin: -450px auto 0;
  }
  .promo__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__left, .promo__right {
    width: 80%;
  }
  .promo__left {
    text-align: center;
    margin-bottom: 100px;
  }
  .promo__text {
    width: 100%;
  }
  .promo__form {
    width: 100%;
  }
  .promo .form__left, .promo .form__right {
    width: 45%;
  }
  .promo .form__input {
    width: 100%;
  }
  .rent .car__box {
    gap: 150px;
  }
  .ride__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ride__box .ride__items {
    width: 80%;
  }
  .ride__box .ride__descriptions {
    width: 100%;
  }
  .mobile__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile__info {
    padding-bottom: 0;
    text-align: center;
    margin-bottom: 50px;
  }
  .reviews__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews__items {
    margin-bottom: 50px;
  }
  .reviews__items:not(:last-child) {
    margin-right: 0;
  }
  .info__heading {
    font-size: 30px;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__info {
    width: 50%;
    text-align: center;
  }
  .about__info:not(:first-child) {
    margin-top: 80px;
  }
  .about__heading {
    font-size: 30px;
  }
  .about__text {
    width: 100%;
    font-size: 20px;
  }
  .about .box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__list, .about__link {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .center, .header__center {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 200px);
  }
  .header {
    min-height: 500px;
  }
  .header .heading__text {
    font-size: 14px;
  }
  .header h1 {
    font-size: 45px;
  }
  .header .fa-bars {
    font-size: 40px;
  }
  .header__text {
    letter-spacing: 0.2em;
  }
  .header__link {
    font-size: 20px;
  }
  .promo__img {
    margin: -300px auto 0;
  }
  .promo__heading_mod {
    font-size: 28px;
  }
  .promo__left {
    margin-bottom: 80px;
  }
  .promo__right {
    width: 350px;
  }
  .promo__form .promo__form__heading {
    font-size: 26px;
    padding: 13px 20px;
  }
  .promo__form .button__form {
    width: 320px;
  }
  .rent__heading {
    font-size: 38px;
  }
  .rent .car__box .car__items {
    width: 85%;
  }
  .ride__heading_mod {
    font-size: 36px;
  }
  .ride .descriptions__heading {
    font-size: 20px;
  }
  .ride .descriptions__text {
    font-size: 16px;
  }
  .ride__img {
    margin-top: 30px;
  }
  .mobile__heading {
    font-size: 32px;
  }
  .mobile__heading_mod {
    font-size: 36px;
  }
  .mobile .heading__download {
    font-size: 22px;
  }
  .mobile .text__download {
    font-size: 18px;
  }
  .mobile__content {
    width: 350px;
    margin: 0 auto;
  }
  .mobile__info_right {
    width: 350px;
  }
  .mobile__img {
    width: 100%;
  }
  .mobile .mobile__link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .reviews {
    padding-top: 65px;
    padding-bottom: 50px;
  }
  .reviews__heading {
    font-size: 32px;
  }
  .reviews__heading_mod {
    font-size: 40px;
  }
  .reviews__content {
    padding-top: 65px;
  }
  .reviews__items {
    min-height: 200px;
    width: 350px;
    margin-right: 0;
  }
  .reviews__descriptions {
    width: 320px;
  }
  .reviews__block {
    width: 70px;
    height: 70px;
  }
  .reviews .heading__descriptions, .reviews .heading__descriptions_mod {
    font-size: 18px;
  }
  .info__heading {
    font-size: 24px;
  }
  .info__text {
    font-size: 44px;
  }
  .about__heading {
    font-size: 24px;
  }
}

@media (max-width: 399px) {
  .center, .header__center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }
  .header h1 {
    font-size: 36px;
  }
  .header .heading__logo {
    font-size: 36px;
  }
  .header .fa-bars {
    font-size: 35px;
  }
  .promo__heading {
    font-size: 32px;
  }
  .promo__heading_mod {
    font-size: 22px;
  }
  .promo__text {
    font-size: 16px;
  }
  .promo__right {
    width: 300px;
  }
  .promo .button__form {
    width: 280px;
  }
  .rent__heading {
    font-size: 32px;
  }
  .rent__heading_color {
    font-size: 34px;
  }
  .rent .car__img {
    width: 280px;
  }
  .ride__heading {
    font-size: 30px;
  }
  .ride__heading_mod {
    font-size: 32px;
  }
  .ride .descriptions__heading {
    font-size: 16px;
  }
  .ride .descriptions__text {
    font-size: 14px;
  }
  .mobile__heading_mod {
    font-size: 34px;
  }
  .mobile .heading__download {
    font-size: 20px;
  }
  .mobile__content {
    width: 300px;
  }
  .mobile__img {
    width: 280px;
  }
  .reviews__heading_mod {
    font-size: 38px;
  }
  .reviews__items {
    width: 300px;
  }
  .reviews__descriptions {
    width: 280px;
  }
  .reviews__text {
    font-size: 16px;
  }
  .reviews__img {
    width: 60px;
    height: 60px;
  }
  .reviews .heading__descriptions, .reviews .heading__descriptions_mod {
    font-size: 16px;
  }
  .info__heading {
    font-size: 22px;
  }
  .info__text {
    font-size: 40px;
  }
  .about__heading {
    font-size: 18px;
  }
  .about__text {
    font-size: 14px;
  }
  .about__list {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */